/*body {
  margin:0;
  padding:0;
}

html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}*/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.inputs {
  margin-top: 3%;
}

.picture {
  padding-top: 1%;
  margin: 0 auto;
  height: auto;
  width: 80%;
}
